# Define the trigger for the pipeline, which specifies when it should run.
trigger:
- master

# Specify the agent pool and the VM image to use for running the pipeline.
pool:
  vmImage: 'ubuntu-latest'

# Define variables that can be used throughout the pipeline.
variables:
  buildConfiguration: 'Release'

# Define the list of jobs to execute as part of the pipeline.
jobs:
- job: BuildJob
  displayName: 'Build Job'

  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '7.0.102'

  - script: dotnet build --configuration $(buildConfiguration)
    workingDirectory: Backends/QandA
    displayName: 'backend build'

  - script: dotnet test
    workingDirectory: Backends/QandA
    displayName: 'backend tests'

  - script: dotnet publish -c $(buildConfiguration) --self-contained true -r win-x86
    workingDirectory: Backends/QandA
    displayName: 'backend publish'
    